In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
#df

In [87]:
#Q1.
#python program to display the sum of n numbers using the list
H = [1,12,13,14,15,16,17,10]

sum = 0

for i in H:
    sum = sum + i
    
print("The sum all the n numbers:", sum)

The sum all the n numbers: 98

In [83]:
#Q2
#use a dictionary comprehension to count the length of each word in a sentences

country = "India is becomes the most population country:"

word_lengths = {word: len(word) for word in country.split()}

print(word_lengths)

{'India': 5, 'is': 2, 'becomes': 7, 'the': 3, 'most': 4, 'population': 10, 'country:': 8}

In [52]:
#Q3
#Create an application using python which can perform the operation mentioned in the below
print('**Welcome to State bank of India:**\n')

Balance = 10000

name = int(input("Enter your 4 digit pin Number:"))

choice = int(input("Please choose transaction: \n1-Withdrow \n2-Balance Enquiry \n3-Fast-Cash \nPlease choose transaction:"))

if choice==1:
    a = int(input("Enter withdrowl amount:"))
    Balance = Balance-a
    print("Please take youe amount:", a, "\nBalance:",Balance)
elif choice==2:
    print("Your Balance is:", Balance)
elif choice==3:
    pass
else:
    print("Wrong choice")

**Welcome to State bank of India:**

Enter your 4 digit pin Number:2525
Please choose transaction:
1-Withdrow
2-Balance Enquiry
3-Fast-Cash
Please choose transaction:1
Enter withdrowl amount:3000
Please take youe amount: 3000
Balance: 7000

In [81]:
#Q4
#Tests whether a data sample has Gaussian distribution
from scipy.stats import shapiro

# generate some data
data = [0.39, 0.18, 0.20, 0.43, 0.73]
# we are doing here the hypothese and null hypothesis
# H0: the data is normally distributed
# H1: the data is not normally distributed
alpha = 0.05

# perform the Shapiro-Wilk test
stat, p = shapiro(data)

# print the results
print('Statistics=%.3f, p=%.3f' % (stat, p))
if p > alpha:
    print('Sample looks Gaussian (fail to reject H0)')
else:
    print('Sample does not look Gaussian (reject H0)')

Statistics=0.899, p=0.402
Sample looks Gaussian (fail to reject H0)

In [54]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [55]:
df = pd.read_csv('CardioGoodFitness.csv')

In [56]:
#df.head()

In [57]:
#df.shape

In [58]:
#df.describe()

In [59]:
#Perform descriptive statistics
df.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

In [60]:
mean_fitness_by_gender = df.groupby('Gender')['Fitness'].mean()        #Male denoted by 1 and female denote by 0.
print(mean_fitness_by_gender)

Gender
Female    3.026316
Male      3.519231
Name: Fitness, dtype: float64

In [61]:
mean_fitness_by_marital_status = df.groupby('MaritalStatus')['Fitness'].mean() # single is denoted by 1 and partnered is denoted by 0.
print(mean_fitness_by_marital_status)

MaritalStatus
Partnered    3.271028
Single       3.369863
Name: Fitness, dtype: float64

In [62]:
df_below_40 = df[df['Age'] < 40]
# count the number of occurrences of each product in the subset
product_counts_below_40 = df_below_40['Product'].value_counts()
print(product_counts_below_40)

TM195    73
TM498    55
TM798    35
Name: Product, dtype: int64

In [70]:
#Q5
#Create Data Frame from a list, array and dictionary.
#List
import pandas  as pd
List = [['Harshal', 20], ['Jitendra', 21], ['Saifali', 22]]
df1 = pd.DataFrame(List, columns=['Name', 'Age'])
print(df1)

       Name  Age
0   Harshal   20
1  Jitendra   21
2   Saifali   22

In [63]:
#Array
Array = np.array([['Akshay', 21], ['Ajay', 22], ['Aman', 23]])
df2=pd.DataFrame(Array, columns=['Name', 'Age'])
print(df2)

     Name Age
0  Akshay  21
1    Ajay  22
2    Aman  23

In [66]:
#Dictionary
Dict = {'Name': ['Harshal', 'saifali', 'jitendra'], 'Salary': [25000, 30000, 35000]}
df3 = pd.DataFrame(Dict)
print(df3)

       Name  Salary
0   Harshal   25000
1   saifali   30000
2  jitendra   35000